@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>    @Html.ActionLink("Patient Info", "Index", "Patient") </h3>
<h3>    @Html.ActionLink("Observations", "Index", "Observations") </h3>
